## Ignore MongoDB Playground files
*.mongodb.js
.codegpt
.fake
.env
.env.local
.DS_Store
node_modules/
Backend/node_modules/
dist/
build/
.vscode/
frontend/.env
cypress/cypress/screenshots
cypress/screenshots