*.mongodb.js
.codegpt
.fake
.env
.env.local
.DS_Store
node_modules/
Backend/node_modules/
Backend/logs/
dist/
build/
.vscode/
frontend/.env
cypress/cypress/screenshots
cypress/screenshots
# Playwright test outputs
frontend/test-results/
Backend/node_modules/
frontend/test-results/playwright/.last-run.json
frontend/test-results/playwright-screenshots/home-material-theme.png
frontend/test-results/playwright-screenshots/home.png
frontend/test-results/playwright-screenshots/login.png
frontend/test-results/playwright-screenshots/register.png